@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fff;
}
.Todo-form{
    background-color: #020202;
    padding: 25px;
    min-width:450px;
    width:100%;
    margin: 0 auto;
    font-family: "Open Sans", serif;

}
.Todo-form h1{
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: #fff;
    border-bottom: 1px solid #666;
    padding-bottom: 15px;
}
.Todo-form h1 span{
    color: #f4f4f4;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
}
.Todo-form .todo-create input,
.Todo-form .todo-list .todo-edit input{
    border: 1px solid #666;
    background-color: transparent;
    padding: 12px 25px;
    border-radius: 5px;
    width: 100%;
    display:inline-block;
    outline: none;
    color: #999;
}
.Todo-form .todo-create input::placeholder,
.Todo-form .todo-list .todo-edit input::placeholder{
    color: #f4f4f4;
}
.Todo-form .todo-list .todo-edit input{
width: calc(100% - 50px);
}
.Todo-form .todo-list .todo-edit button{margin-left: 10px;}
.Todo-form .todo-list .todo-edit{width: 100%;display: flex;align-items: center;}
.Todo-form .todo-create,
.Todo-form .todo-list{margin-top: 30px;}
.Todo-form .todo-list li{
    list-style: none;
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
}
.Todo-form .todo-list li p{
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
    text-transform: capitalize;
}
.Todo-form .todo-list li p.completed{text-decoration:line-through;}
.Todo-form .todo-list li .actions{display: flex;}
.Todo-form .todo-list li button{
       background-color: #000;
    border: 0;
    padding: 0;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.Todo-form .todo-list li button:not(:last-of-type){margin-right: 10px;}
.Todo-form .todo-list li:not(:last-of-type){margin-bottom: 15px;}